<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]--><head>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <link rel="stylesheet" href="../dist/style.css">

  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/hammer.js/2.0.8/hammer.min.js"></script>
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <script src="https://cdn.bootcss.com/rem/1.3.4/js/rem.min.js"></script>
  <![endif]-->
  <!--[if IE 8]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ie8/0.6.0/ie8.js"></script>
  <![endif]-->
  <title>Title</title>
  <script>
    var queue = []
    queue.exec = function (fn) {
      if (this.isReady) {
        fn()
      } else {
        this.push(fn)
      }
    }
  </script>
</head>
  <body class="user-detail">
<div class="wrap">
  <div class="brand">
    <div class="container">
      <div class="logo">
        <img src="../dist/assets/logo.png" alt="SUPERFOOL 天使节">
      </div>
      <h1 class="text-center">
        <img src="../dist/assets/title.png" alt="寻找未来金马甲">
        <span>首届中国天使投资节</span>
      </h1>
    </div>
  </div>
  <div class="container">
    <h2 class="text-center">个人天使卡片</h2>
    <div class="panel panel-clean">
      <div class="panel-heading">
        <img src="../dist/assets/logo.png" width="120" alt="SUPERFOOL 天使节">
        <h5 class="text-center">
          <img width="200" src="../dist/assets/title.png" alt="寻找未来金马甲">
        </h5>
      </div>
      <div class="panel-body">
        <figure class="avator"><img src="../dist/assets/guest-1.png" alt=""></figure>
        <p class="name">雷军</p>
        <p class="role">
          <span>个人天使认证</span>
        </p>
        <p class="projects">天使项目：UCWeb、多玩、多看、凡客</p>
        <p class="words">
          “ 预祝大会完美举办，看到了互联网的新革命，我们充满荆棘与期待~对创业指路抱有敬畏之心电视剧啊大快乐的考拉嘉澍的快乐“
        </p>
        <img class="qr" src="../dist/assets/wechat-qr.png" alt="">
      </div>
    </div>
    <button class="btn btn-lg btn-secondary">保存图片</button>
  </div>
</div>
</body>
  <script>
    +function(){
      queue.isReady = true
      for(var i = 0; i < queue.length; i++) queue[i]()
    }()
  </script>
</html>
