<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]--><head>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <link rel="stylesheet" href="../dist/style.css">
  <title>Title</title>
  <script>
    var queue = []
    queue.exec = function (fn) {
      if (this.isReady) {
        fn()
      } else {
        this.push(fn)
      }
    }
  </script>
</head>
  <body class="sign-in">
<div class="wrap">
  <div class="brand">
    <div class="container">
      <div class="logo">
        <img src="../dist/assets/logo.png" alt="SUPERFOOL 天使节">
      </div>
      <h1 class="text-center">
        <img src="../dist/assets/title.png" alt="寻找未来金马甲">
        <span>首届中国天使投资节</span>
      </h1>
    </div>
  </div>
  <div class="container">
    <h2 class="text-center mb-4">个人天使征集信息</h2>
    <form class="form">
      <div class="form-group row">
        <label class="control-label col-sm-3">*天使姓名：</label>
        <div class="col-sm-9">
          <input class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-3">*联系方式：</label>
        <div class="col-sm-9">
          <input class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-3">*所投项目代表：</label>
        <div class="col-sm-9">
          <input class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-3">*投资时间：</label>
        <div class="col-sm-9">
          <input class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-3">*投资金额：</label>
        <div class="col-sm-9">
          <input class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-xs-5 col-sm-3">*投资轮数：</label>
        <div class="col-xs-7 col-sm-9">
          <label class="radio-inline">
            <input type="radio" name="step" value="option1">
            <span class="indicator"></span>
            <span>种子轮</span>
          </label>
          <label class="radio-inline">
            <input type="radio" name="step" value="option2">
            <span class="indicator"></span>
            <span>天使轮</span>
          </label>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-3">
          其他投资项目：
          <small class="hint">限种子轮和天使轮项目</small>
        </label>
        <div class="col-sm-9">
          <textarea class="form-control" rows="5" placeholder="(选填)"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-3">推荐人：</label>
        <div class="col-sm-9">
          <input class="form-control" placeholder="(选填)">
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-3">天使节寄语：</label>
        <div class="col-sm-9">
          <textarea class="form-control" rows="5" placeholder="(选填)"></textarea>
        </div>
      </div>
      <button class="btn btn-lg btn-secondary">提交信息</button>
    </form>
  </div>
</div>
</body>
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/hammer.js/2.0.8/hammer.min.js"></script>
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <script src="https://cdn.bootcss.com/rem/1.3.4/js/rem.min.js"></script>
  <![endif]-->
  <!--[if IE 8]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ie8/0.6.0/ie8.js"></script>
  <![endif]-->
  <script>
    +function(){
      queue.isReady = true
      for(var i = 0; i < queue.length; i++) queue[i]()
    }()
  </script>
</html>
