<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]--><head>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <link rel="stylesheet" href="../dist/style.css">
  <title>Title</title>
</head>
<% content %>
<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<script src="https://cdn.bootcss.com/rem/1.3.4/js/rem.min.js"></script>
<![endif]-->
</html>
