<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]--><head>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <link rel="stylesheet" href="../dist/style.css">
  <title>Title</title>
  <script>
    var queue = []
    queue.exec = function (fn) {
      if (this.isReady) {
        fn()
      } else {
        this.push(fn)
      }
    }
  </script>
</head>
  <% content %>
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/hammer.js/2.0.8/hammer.min.js"></script>
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <script src="https://cdn.bootcss.com/rem/1.3.4/js/rem.min.js"></script>
  <![endif]-->
  <!--[if IE 8]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ie8/0.6.0/ie8.js"></script>
  <![endif]-->
  <script>
    +function(){
      queue.isReady = true
      for(var i = 0; i < queue.length; i++) queue[i]()
    }()
  </script>
</html>
