<% extend '_layout' %>
<body class="user-detail">
<div class="wrap">
  <div class="brand">
    <div class="stars">
      <div class="start-1"></div>
      <div class="start-2"></div>
    </div>
    <div class="waves">
      <canvas id="waves"></canvas>
    </div>
    <div class="container">
      <div class="logo">
        <img src="../dist/assets/logo.png" alt="SUPERFOOL 天使节">
      </div>
      <h1 class="title">
        <div class="title-sp">
          <p class="p-1">
            <i class="char-1"></i><i class="char-2"></i>
          </p>
          <p class="p-2">
            <i class="char-3"></i><i class="char-4"></i><i class="char-5"></i><i class="char-6"></i><i class="char-7"></i>
          </p>
        </div>
        <span>首届中国天使投资节</span>
      </h1>
    </div>
  </div>
  <div class="container">
    <h2 class="text-center">个人天使卡片</h2>
    <img class="img-card" src="../dist/assets/test.jpg" />
    <!--<div class="panel panel-clean">-->
      <!--<div class="panel-heading">-->
        <!--<img src="../dist/assets/logo.png" width="120" alt="SUPERFOOL 天使节">-->
        <!--<h5 class="text-center">-->
          <!--<img width="200" src="../dist/assets/title.png" alt="寻找未来金马甲">-->
        <!--</h5>-->
      <!--</div>-->
      <!--<div class="panel-body">-->
        <!--<figure class="avator"><img src="../dist/assets/guest-1.png" alt=""></figure>-->
        <!--<p class="name">雷军</p>-->
        <!--<p class="role">-->
          <!--<span>个人天使认证</span>-->
        <!--</p>-->
        <!--<p class="projects">天使项目：UCWeb、多玩、多看、凡客</p>-->
        <!--<p class="words">-->
          <!--“ 预祝大会完美举办，看到了互联网的新革命，我们充满荆棘与期待~对创业指路抱有敬畏之心电视剧啊大快乐的考拉嘉澍的快乐“-->
        <!--</p>-->
        <!--<img class="qr" src="../dist/assets/wechat-qr.png" alt="">-->
      <!--</div>-->
    <!--</div>-->
    <button class="btn btn-lg btn-secondary">保存图片</button>
  </div>
</div>
</body>
