<% extend '_layout' %>
<div class="wrap user-detail">
  <div class="header">
    <div class="container">
      <img src="dist/assets/logo.png" alt="SUPERFOOL 天使节" class="logo">
    </div>
  </div>
  <div class="brand text-center">
    <h1>
      <img src="dist/assets/title.png" alt="寻找未来金马甲">
      <span>首届中国天使投资节</span>
    </h1>
  </div>
  <div class="container">
    <h2 class="text-center mb-4">个人天使征集信息</h2>
    <div class="panel panel-clean">
      <div class="panel-heading">
        <h3 class="panel-title">个人天使认证</h3>
      </div>
      <div class="panel-body">
        <img class="avator" src="dist/assets/user.jpg" alt="">
        <p class="name">雷军</p>
        <p class="role">天使投资人</p>
        <p class="projects">（UCWeb、多玩、多看、凡客）</p>
        <p class="words">
          “ 预祝大会完美举办，看到了互联网的新革命，我们充满荆棘与期待~对创业指路抱有敬畏之心电视剧啊大快乐的考拉嘉澍的快乐“
        </p>
        <img src="dist/assets/qr.jpg" alt="" class="qr">
      </div>
    </div>
  </div>
</div>
