<% extend '_layout' %>
<body class="home">
<div class="wrap">
  <div class="section brand">
    <div class="waves">
      <canvas id="waves"></canvas>
    </div>
    <div class="container">
      <div class="logo">
        <img src="../dist/assets/logo.png" alt="SUPERFOOL 天使节">
      </div>
      <h1 class="title">
        <div class="title-sp">
          <p class="p-1">
            <i class="char-1"></i><i class="char-2"></i>
          </p>
          <p class="p-2">
            <i class="char-3"></i><i class="char-4"></i><i class="char-5"></i><i class="char-6"></i><i class="char-7"></i>
          </p>
        </div>
        <span>首届中国天使投资节</span>
      </h1>
      <p class="text">金马甲天使大咖聚会<i></i>金种子项目发源地</p>
      <div class="d-flex">
        <div class="col">
          <ul class="list-group list-group-clean schedule">
            <li class="list-group-item">
              <p class="location">
                <span class="country">中国</span>
                <span class="city">北京</span>
              </p>
              <p class="time">11/18</p>
            </li>
          </ul>
        </div>
        <div class="col">
          <div class="links">
            <a href="#" class="user">个人天使请 进>>></a>
            <a href="#" class="signin">参会报名请 进>>></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section media">
    <div class="container">
      <div class="logo">
        <img src="../dist/assets/logo.png" alt="SUPERFOOL 天使节">
      </div>
      <div class="d-flex reverse">
        <div class="video col">
        </div>
        <div class="col content">
          <h2>
            <img src="../dist/assets/media-title.png" alt="SuperFool">
          </h2>
          <div class="content">
            <p>变化、认知、趋势、革新<br>这个瞬息万变的数据时代<br>究竟谁在掌舵风潮，蓄力未来？<br>是别人眼中的SuperFool<br>还是坚持本心的个人天使</p>
            <p>SuperFool中国首届个人天使节<br>链接，碰撞，共生，共赢<br>打破认知、探讨趋势<br>掌舵风潮、蓄力未来</p>
            <p>寻找未来金马甲<br>见证时代弄潮儿</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="section highlights">
    <div class="container">
      <h2 class="section-title-en">CREATIVE HIGHLIGHTS</h2>
      <h2 class="section-title">天使节现场</h2>
      <ul class="list-group list-group-clean projects">
        <li class="list-group-item c1">
          <div class="card perspective-card">
            <i></i>
            <h5 class="cn-title">金马甲天使计划</h5>
            <h5 class="en-title">
              NEW PROJECT<br>DEPTH EXPERIENCE
            </h5>
            <p>个人天使大数据<br>榜样的力量</p>
          </div>
          <h5 class="en-title">
            GOLDEN VEST<br>ANGELS UNION
          </h5>
        </li>
        <li class="list-group-item c2">
          <div class="card perspective-card">
            <i></i>
            <h5 class="cn-title">金种子超级路演</h5>
            <h5 class="en-title">
              NEW PROJECT<br>DEPTH EXPERIENCE
            </h5>
            <p>卡位、框图、验证、突破、爆发<br>精一陪跑金种子项目</p>
          </div>
          <h5 class="en-title">
            GOLDEN SEED<br>SUPER ROADSHOW
          </h5>
        </li>
        <li class="list-group-item c3">
          <div class="card perspective-card">
            <i></i>
            <h5 class="cn-title">新项目DEMO体验</h5>
            <h5 class="en-title">
              NEW PROJECT<br>DEPTH EXPERIENCE
            </h5>
            <p>新零售、新文娱、人工智能<br>消费升级...深度体验，随时洽谈</p>
          </div>
          <h5 class="en-title">
            NEW PROJECT<br>DEPTH EXPERIENCE
          </h5>
        </li>
      </ul>
    </div>
  </div>
  <div class="section invited">
    <div class="container">
      <h2 class="section-title-en">INVITED GUEST</h2>
      <h2 class="section-title">拟邀嘉宾</h2>
      <ul class="list-group list-group-clean guests">
        <li class="list-group-item c1">
          <div class="card perspective-card">
            <img src="../dist/assets/guest-1.png" alt="" class="avator">
            <p class="name">雷军</p>
            <p class="role fz-10px">天使投资人</p>
            <p class="projects">（UCWeb、多玩、多看、凡客）</p>
          </div>
        </li>
        <li class="list-group-item c2">
          <div class="card perspective-card">
            <img src="../dist/assets/guest-2.png" alt="" class="avator">
            <p class="name">王刚</p>
            <p class="role fz-10px">天使投资人</p>
            <p class="projects">（滴滴打车 万倍回报的背后）</p>
          </div>
        </li>
        <li class="list-group-item c3">
          <div class="card perspective-card">
            <img src="../dist/assets/guest-3.png" alt="" class="avator">
            <p class="name">王利杰 </p>
            <p class="role fz-16px">天使投资人</p>
          </div>
        </li>
        <li class="list-group-item c4">
          <div class="card perspective-card">
            <img src="../dist/assets/guest-4.png" alt="" class="avator">
            <p class="name">史蒂文·霍夫曼</p>
            <p class="role fz-16px">天使投资人</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="section steps">
    <div class="container">
      <div class="logo">
        <img src="../dist/assets/logo.png" alt="SUPERFOOL 天使节">
      </div>
      <ul class="step-list list-group list-group-clean">
        <li class="list-group-item c1">
          <div class="step">
            <div class="d-flex">
              <i class="col"></i>
              <p class="col content">
                Chinese<br>Personal<br>Angel Yearbook
              </p>
            </div>
          </div>
          <div class="card">
            <h5>中国个人天使年鉴</h5>
            <a href="#">认证注册>></a>
          </div>
        </li>
        <li class="list-group-item c2">
          <div class="step">
            <div class="d-flex">
              <i class="col"></i>
              <p class="col content">
                Futures<br>Seed<br>Plan
              </p>
            </div>
          </div>
          <div class="card">
            <h5>未来金种子计划</h5>
            <a href="#">申请加入>></a>
          </div>
        </li>
        <li class="list-group-item c3">
          <div class="step">
            <div class="d-flex">
              <i class="col"></i>
              <p class="col content">
                Angel Day<br>on-site<br>registration
              </p>
            </div>
          </div>
          <div class="card">
            <h5>天使节现场报名</h5>
            <a href="#">门票预约>></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="section conference">
    <div class="container">
      <h2 class="section-title-en">CONFERENCE SCHEDULE</h2>
      <h2 class="section-title">大会日程</h2>
      <ul class="schedule list-group list-group-clean">
        <li class="list-group-item">
          <div class="d-flex">
            <span class="time col">9:30-10:00</span>
            <div class="content col">
              <h5>签到</h5>
            </div>
          </div>
        </li>
        <li class="category list-group-item">
          <span class="place">内场</span>
        </li>
        <li class="list-group-item">
          <div class="d-flex">
            <span class="time col">10:00-11:30</span>
            <div class="content col">
              <h5>你所不知道的天使投资——天使节专享课程</h5>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex">
            <span class="time col">14:00-16:00</span>
            <div class="content col">
              <h5>天使节内容发布</h5>
              <ul class="content-list list-group list-group-clean">
                <li class="list-group-item">发布中国个人天使报告</li>
                <li class="list-group-item">见证金马甲天使荣耀</li>
                <li class="list-group-item">成立中国天使投资联盟</li>
                <li class="list-group-item">启动城市天使接力计划</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex">
            <span class="time col">16:10-18:10</span>
            <div class="content col">
              <h5>金种子超级路演</h5>
              <ul class="content-list list-group list-group-clean">
                <li class="list-group-item">5-8个金种子项目路演（精一陪跑营）</li>
                <li class="list-group-item">金种子投资机会争夺</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="category list-group-item">
          <span class="place">外场</span>
        </li>
        <li class="list-group-item last">
          <div class="d-flex">
            <span class="time col">10:10-18:10</span>
            <div class="content col">
              <h5>种子项目DEMO体验</h5>
              <ul class="content-list list-group list-group-clean">
                <li class="list-group-item">30+种子项目现场深度体验</li>
                <li class="list-group-item">3min项目DEMO展示／公众路演</li>
                <li class="list-group-item">1对1投资意向洽谈</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="section partner">
    <div class="container">
      <h2 class="section-title-en">PARTNER</h2>
      <h2 class="section-title">合作伙伴</h2>
      <div class="d-flex">
        <span class="col">主办方</span>
        <div class="content col">中国投资协会股权和创业投资专业委员会</div>
      </div>
      <div class="d-flex">
        <span class="col">承办单位</span>
        <div class="content col">精一天使公社</div>
      </div>
      <div class="d-flex">
        <span class="col offset">联合承办单位</span>
        <div class="content col">
          <img src="../dist/assets/pt-1.jpg" alt="">
          <img src="../dist/assets/pt-2.jpg" alt="">
          <img src="../dist/assets/pt-3.jpg" alt="">
          <img src="../dist/assets/pt-4.jpg" alt="">
        </div>
      </div>
      <div class="d-flex">
        <span class="col offset">合作支持单位</span>
        <div class="content col">
          <img src="../dist/assets/pt-5.jpg" alt="">
          <img src="../dist/assets/pt-6.jpg" alt="">
          <img src="../dist/assets/pt-7.jpg" alt="">
          <img src="../dist/assets/pt-8.jpg" alt="">
          <img src="../dist/assets/pt-9.jpg" alt="">
        </div>
      </div>
      <div class="d-flex">
        <span class="col offset">战略合作媒体</span>
        <div class="content col">
          <img src="../dist/assets/pt-10.jpg" alt="">
          <img src="../dist/assets/pt-11.jpg" alt="">
        </div>
      </div>
      <div class="d-flex">
        <span class="col offset">媒体合作伙伴</span>
        <div class="content col">
          <img src="../dist/assets/pt-12.jpg" alt="">
          <img src="../dist/assets/pt-13.jpg" alt="">
          <img src="../dist/assets/pt-14.jpg" alt="">
          <img src="../dist/assets/pt-15.jpg" alt="">
          <img src="../dist/assets/pt-16.jpg" alt="">
          <img src="../dist/assets/pt-17.jpg" alt="">
          <img src="../dist/assets/pt-18.jpg" alt="">
          <img src="../dist/assets/pt-19.jpg" alt="">
          <img src="../dist/assets/pt-20.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="section contact">
    <div class="container">
      <h2 class="section-title-en">CONTACT US</h2>
      <h2 class="section-title">联系我们</h2>
      <span class="title-bg"></span>
      <ul class="list-group list-group-clean">
        <li class="list-group-item">
          <h5>内容合作</h5>
          <p class="name">小袋</p>
          <p class="email">xiaodai@leanone.cn</p>
        </li>
        <li class="list-group-item">
          <h5>商务合作</h5>
          <p class="name">宋林翰</p>
          <p class="email">songlinhan@leanone.cn</p>
        </li>
        <li class="list-group-item">
          <h5>其他合作</h5>
          <p class="name">18519009191</p>
          <p class="email">leanone@leanone.cn </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="toolbar">
  <a href="#" class="card"><i></i></a>
  <a href="#" class="ticket"><i></i></a>
  <span href="#" class="wechat">
    <i></i>
    <div class="qr">
      <img src="../dist/assets/wechat-qr.png" alt="">
      <p>扫一扫关注“精一天使”微信公众号</p>
      <div class="bg"></div>
    </div>
  </span>
  <a href="#" class="gotop">
    <i></i>
  </a>
</div>
<script src="https://cdn.bootcss.com/gsap/latest/TweenMax.min.js"></script>
<script>
  queue.exec(function () {
    var brand = $('.brand')
    var toolbar = $('.toolbar')
    var wechart = toolbar.find('.wechat')
    var bg = wechart.find('.bg')
    var body = $(document.body)
    var brandHeight = brand.height()
    $('.gotop').on('click', function(){
      body.animate({
        scrollTop: '0'
      })
    })

    $(window).scroll(function () {
      toolbar.toggleClass('visible', document.body.scrollTop > brandHeight * .7)
    })

    function insertVideo (width, height) {
      $('.video').html(
        '<iframe frameborder="0" width="' + width + '" height="' + height + '" src="https://v.qq.com/iframe/player.html?vid=j0341jc7k6m&tiny=0&auto=0" allowfullscreen></iframe>'
      )
    }

    if (!isMobile) {
      insertVideo(640, 533)

      var pc = $('.perspective-card')
      TweenMax.set(pc, {rotationY: 0, rotationX: 0, rotationZ: 0, transformPerspective: 1000})
      pc.mouseover(function() {
        var $this = $(this)
        $this.mousemove(function(e) {
          var offset = $this.offset()
          var x = e.pageX - offset.left
          var y = e.pageY - offset.top
          var px = x / $this.width()
          var py = y/$this.height()
          var xx = -15 + (30*px), yy = 15 - (30*py)
          TweenMax.to($this, 0.5, {rotationY: xx, rotationX: yy, rotationZ: 0, transformPerspective: 1000, ease: Quad.easeOut})
        });
      }).mouseout(function() {
        $(this).unbind('mousemove')
        TweenMax.to($(this), 0.5, {rotationY: 0, rotationX: 0, rotationZ: 0, transformPerspective: 1000, ease: Quad.easeOut})
      })

      wechart.on('mouseenter', function (e) {
        wechart.addClass('active')
      }).on('mouseleave', function (e) {
        wechart.removeClass('active')
      })
    } else {
      insertVideo(window.innerWidth, window.innerWidth/1.2)
      lineSize = 3
      wechart.on('mouseup', function () {
        body.addClass('blur')
        wechart.addClass('open')
      })
      bg.on('click', function () {
        body.removeClass('blur')
        wechart.removeClass('open')
      })
    }
  })
</script>
</body>
