<% extend '_layout' %>
<body class="sign-in">
<div class="wrap">
  <div class="header">
    <div class="container">
      <img src="../dist/assets/logo.png" alt="SUPERFOOL 天使节" class="logo">
    </div>
  </div>
  <div class="brand text-center">
    <h1>
      <img src="../dist/assets/title.png" alt="寻找未来金马甲">
      <span>首届中国天使投资节</span>
    </h1>
  </div>
  <div class="container">
    <h2 class="text-center mb-4">个人天使征集信息</h2>
    <form class="form">
      <div class="form-group row">
        <label class="control-label col-sm-3">天使姓名：</label>
        <div class="col-sm-9">
          <input class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-3">联系方式：</label>
        <div class="col-sm-9">
          <input class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-3">所投项目代表：</label>
        <div class="col-sm-9">
          <input class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-3">投资时间：</label>
        <div class="col-sm-9">
          <input class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-3">投资金额：</label>
        <div class="col-sm-9">
          <input class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-3">投资轮数：</label>
        <div class="col-sm-9">
          <label class="radio-inline">
            <input type="radio" name="step" value="option1">种子轮
          </label>
          <label class="radio-inline">
            <input type="radio" name="step" value="option2">天使轮
          </label>
          <label class="radio-inline">
            <input type="radio" name="step" value="option3">Pre A
          </label>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-3">其他投资项目：</label>
        <div class="col-sm-9">
          <textarea class="form-control" rows="8"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-3">推荐人：</label>
        <div class="col-sm-9">
          <input class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-3">天使节寄语：</label>
        <div class="col-sm-9">
          <textarea class="form-control" rows="8"></textarea>
        </div>
      </div>
      <div class="form-group text-right">
        <button class="btn btn-secondary w-25">提交</button>
      </div>
    </form>
  </div>
</div>
</body>
