<% extend '_layout' %>
<body class="upload">
<div class="wrap">
  <div class="brand">
    <div class="stars">
      <div class="start-1"></div>
      <div class="start-2"></div>
    </div>
    <div class="waves">
      <canvas id="waves"></canvas>
    </div>
    <div class="container">
      <div class="logo">
        <img src="../dist/assets/logo.png" alt="SUPERFOOL 天使节">
      </div>
      <h1 class="title">
        <div class="title-sp">
          <p class="p-1">
            <i class="char-1"></i><i class="char-2"></i>
          </p>
          <p class="p-2">
            <i class="char-3"></i><i class="char-4"></i><i class="char-5"></i><i class="char-6"></i><i class="char-7"></i>
          </p>
        </div>
        <span>首届中国天使投资节</span>
      </h1>
    </div>
  </div>
  <div class="container">
    <div class="notify">
      <img src="../dist/assets/submitted-sccess.jpg" alt="">
      <p>信息已提交成功！</p>
      <p>上传头像，获得个人天使认证卡</p>
    </div>
    <form class="form" id="form">
      <div class="upload-img">
        <figure onclick="document.forms.form.file.click();return false;">
          <img class="avator" src="" alt="">
        </figure>
        <input type="file" name="file" class="hidden" accept="image/jpeg,image/gif,image/png">
        <p class="hint">* 点击头像区域上传图片</p>
        <p class="hint">仅支持JPG、GIF、PNG格式，文件小于5M</p>
        <button class="btn btn-lg btn-secondary">立即生成</button>
      </div>
    </form>
  </div>
</div>
<script>
  queue.exec(function () {

    if (window['FileReader']) {

      var avator = document.querySelector('.avator')

      function getFileReader (options) {
        var fr = new FileReader()
        options = Object.assign({
          success: $.noop,
          error: $.noop
        }, options)
        fr.onloadend = function () {
          options.success.apply(fr, arguments)
        }
        fr.onerror = function () {
          options.error.apply(fr, arguments)
        }
        return fr
      }

      $(document.forms.form.file).on('change', function (e) {
        var file = e.target.files[0]
        var fr = getFileReader({
          success: function () {
            avator.src = fr.result
          },
          error: function () {
            console.log('error')
          }
        })
        fr.readAsDataURL(file)
      })
    }
  })
</script>
</body>
