<% extend '_layout' %>
<body class="sign-in upload">
<div class="wrap">
  <div class="header">
    <div class="container">
      <div class="logo">
        <img src="../dist/assets/logo.png" alt="SUPERFOOL 天使节">
      </div>
    </div>
  </div>
  <div class="brand text-center">
    <h1>
      <img src="../dist/assets/title.png" alt="寻找未来金马甲">
      <span>首届中国天使投资节</span>
    </h1>
  </div>
  <div class="container">
    <form class="form">

      <div class="form-group submit-button text-center">
        <button class="btn btn-lg btn-secondary w-25">立即生成</button>
      </div>
    </form>
  </div>
</div>
</body>
