.fz-12px {
  font-size: .75rem;
}

.fz-14px {
  font-size: .875rem;
}

.fz-16px {
  font-size: 1rem;
}

.fz-18px {
  font-size: 1.125rem;
}

.fz-20px {
  font-size: 1.25rem;
}

.fz-22px {
  font-size: 1.375em;
}

.fz-24px {
  font-size: 1.5rem;
}

.fz-40px {
  font-size: 2.5rem;
}
