.fz-10px {
  font-size: .625rem;
  transform: scale(.833);
  transform-origin: left top;
}

.fz-11px {
  font-size: .6875rem;
  transform: scale(.916);
  transform-origin: left top;
}

.fz-12px {
  font-size: .75rem;
}

.fz-14px {
  font-size: .875rem;
}

.fz-16px {
  font-size: 1rem;
}

.fz-18px {
  font-size: 1.125rem;
}

.fz-20px {
  font-size: 1.25rem;
}

.fz-22px {
  font-size: 1.375em;
}

.fz-24px {
  font-size: 1.5rem;
}

.fz-28px {
  font-size: 1.75rem;
}

.fz-30px {
  font-size: 1.875rem;
}

.fz-34px {
  font-size: 2.125rem;
}

.fz-38px {
  font-size: 2.375rem;
}

.fz-40px {
  font-size: 2.5rem;
}

.fz-44px {
  font-size: 2.75rem;
}

.fz-50px {
  font-size: 3.125rem;
}
