html {
  font-size: 16px;
}

body {
  padding-bottom: 250px;
  background-image: url("./assets/ft-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow-x: hidden;
}

.header {
  padding-top: 46px;
}

.container {
  padding: 0;
}

.logo {
  padding-top: 50px;
}

.brand {
  h1 {
    text-align: center;
    margin-top: 128px;
    img {
      display: block;
      margin: 0 auto 50px;
    }
    span {
      display: inline-block;
      padding: 5px 55px;
      background: #f9be2c;
      color: #fff;
      @extend .fz-24px;
    }
  }
}

@media #{$phone} {
  body {
    background-size: 100%;
    padding-bottom: pc180(228px);
  }
  .header {
    padding-top: $spacer;
  }
  .logo {
    margin-left: 15px;
    padding-top: pc180(76px);
    img {
      width: pc180(320px);
    }
  }
  .brand {
    h1 {
      margin-top: pc180(85px);
      img {
        width: 61.111%;
        margin-bottom: pc180(50px);
      }
      span {
        padding: 5px 10px;
        font-size: 1rem;
      }
    }
  }
}
