.sign-in {
  h2 {
    margin-top: 74px;
  }
  .form {
    margin-top: 80px;
    padding: 0 100px;
  }
  .form-group {
    margin-bottom: 32px;
  }
  .radio-inline {
    padding-left: 25px;
    input {
      display: none;
    }
    .indicator {
      position: absolute;
      left: -5px;
      top: 6px;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #1d243c;
      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-left: -4px;
        margin-top: -4px;
        background: #343a50;
        border-radius: 50%;
      }
    }
    input:checked ~ .indicator {
      background: #4863bc;
      &:before {
        background: #fff;
      }
    }
    margin-right: 50px;
    @extend .fz-20px;
  }
  .control-label {
    font-weight: normal;
    @extend .fz-22px;
  }
  .form-control {
    padding-top: 12px;
    padding-bottom: 12px;
    @extend .fz-16px;
  }
  input.form-control {
    height: 46px;
  }
  textarea {
    resize: none;
  }
  .btn {
    display: block;
    width: 285px;
    margin: 140px auto 0;
  }
  .hint {
    display: block;
    color: #63687a;
    @extend .fz-14px;
    margin-top: 12px;
  }

  @media #{$phone} {
    h2 {
      font-size: 1.5rem;
      margin-top: pc180(128px);
    }
    .form {
      padding: 0 $spacer;
      margin-top: pc180(80px);
    }
    .control-label {
      margin-bottom: 10px;
      font-size: 1rem;
    }
    .radio-inline {
      font-size: 1rem;
      margin-right: 10px;
      margin-left: -15px;
      .indicator {
        margin-top: -5px;
      }

      & + .radio-inline {
        margin-left: 8px;
        margin-right: 0;
      }
    }
    .btn {
      margin-top: pc180(70px);
      width: 100%;
    }
  }
}
