.user-detail {
  h2 {
    margin-top: 85px;
  }
  .img-card {
    display: block;
    margin: 65px auto 0;
    width: 80%;
    max-width:656px;
    box-shadow: 3px 0 5px 0 rgba(#000, .3);
    border-radius: 5px;
  }
  .panel {
    position: relative;
    width: 95%;
    max-width: 656px;
    padding: 32px 35px 30px;
    margin: 65px auto 0;
    background: #211e51;
    box-shadow: 0px 3px 3px 0 rgba(0,0,0,.5);
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("assets/user-top-bg.jpg") no-repeat;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("assets/user-bottom-bg.jpg") no-repeat center bottom;
    }
  }
  .panel-heading {
    position: relative;
    h5 {
      margin-top: -14px;
    }
  }

  .panel-body {
    position: relative;
    z-index: 1;
    margin-top: 105px;
    padding: 0 65px 30px;
    border-radius: 5px;
    background: #f4f5f6;
    color: #000;
  }
  .avator {
    position: relative;
    width: 160px;
    overflow: hidden;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #1a1a1a;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
  .name {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    letter-spacing: .3rem;
    @extend .fz-50px;
  }
  .role {
    margin-top: 25px;
    text-align: center;
    span {
      display: inline-block;
      padding: 12px 25px 12px 10px;
      color: #febc49;
      background: #fff0c0;
      border-radius: 30px;
      @extend .fz-20px;
      &:before {
        content: '';
        display: inline-block;
        margin-right: 8px;
        width: 20px;
        height: 26px;
        background: url("assets/medal.png") no-repeat;
        vertical-align: -5px;
      }
    }
  }
  .projects {
    margin-top: 50px;
    @extend .fz-20px;
    font-weight: bold;
    text-align: center;
  }
  .words {
    margin-top: 60px;
    line-height: 2.5em;
    font-style: italic;
    @extend .fz-18px;
  }
  .qr {
    display: block;
    width: 108px;
    height: 108px;
    padding: 8px;
    margin: 35px auto 0;
    background: #fff;
  }
  .btn {
    display: block;
    width: 290px;
    margin: 60px auto 0;
  }

  @media #{$phone} {
    h2 {
      margin-top: pc180(158px);
      font-size: 1.75rem;
    }
    .btn {
      padding: 5px 10px;
      margin-top: 1rem;
      width: 80%;
      font-size: 1rem;
    }
    .img-card {
      margin-top: pc180(80px);
    }
    .panel {
      padding: pc180(42px) pc180(36px) pc180(68px);
      margin-top: pc180(80px);
    }
    .panel-body {
      padding: 0 pc180(50px) 30px;
    }
    .panel-heading h5 {
      margin-top: pc180(74px);
    }
    .avator {
      width: 40%;
      margin-top: -20%;
    }
    .name {
      font-size: 1.75rem;
    }
    .role {
      margin-top: pc180(50px);
      span {
        font-size: 1rem;
        padding: 6px 12px 6px 10px;
      }
    }
    .projects {
      margin-top: pc180(80px);
      font-size: 1rem;
    }
    .words {
      margin-top: pc180(100px);
      font-size: .875rem;
    }
  }
}
