$phone: "(max-width: 479px)";

$spacer: 15px;

$main-color: #00d1ff;
$secondary-color: #fabf01;
$btn-border-radius-base: 0;
$body-bg: #0e1732;
$font-size-base: 16px;
$font-family-base: Hiragino Sans GB, 'Microsoft YaHei', '微软雅黑';
$font-family-monospace: $font-family-base;

$line-height-computed: 0;
$text-color: #FFF;
$input-border-radius: 0;
$input-border: #4e5466;
$input-bg: #1d243c;
$input-color: #fff;

$container-large-desktop: 1000px;
$container-desktop: 1000px;

$pre-bg: transparent;
